.statsdiv {
    float: left;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    cellpadding: 0px;
    border-spacing: 0px;
    overflow: hidden;
}

td {
    border-collapse: collapse;
    height: 16px;
    width: 16px;
    text-align: center;
}

th,
td {
    padding: 0px;
}

.controles {
    float: left;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: inherit;
}

table img {
    width: 16px;
    height: 16px;
    position: relative;
}

.score {
    font-size: 34px;
    font-family: monospace;
    background: 1px solid black;
}
#DPad{
    float: right;
}